<div class="main-container">
  <h1>{{title}}</h1>
  <form class="main-form" action="/createRoom" method="post">
    <input type="text" placeholder="Your desired name">
  </form>
  <div class="links">
    <a class="link" href="/createRoom">Create the room</a>

  </div>

</div>