<div class="main-container">
  <h1>{{title}}</h1>
  <form class="main-form" action="/createRoom" method="post">
    <input type="text" placeholder="Your desired name">

    <button type="submit" class="link">Create the room</button>
  </form>


</div>