body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.main-container {
  width: 80%;
}
.link {
  margin: 40px 10px;
  background-color: #00B7FF;
  color: white;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
}
.main-form {
  margin-bottom: 20px;
}